#main {
    background-color: rgb(118, 184, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  
  #github-container {
    display: flex;
  }
  
  ul {
    list-style: none;
  }
  h2{
    color: brown;
  }
  body{
    background-image: -webkit-image-set();
  }
  